.Auth {
    margin: 100px auto 50px;
    max-width: 400px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.Form {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.FormItem {
  margin-bottom: 10px;
}
